.slider-body{
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1rem;
}
.slider-body .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.site-wrap:before {
    display: none;
    -webkit-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
    background: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    z-index: 2000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
}
::selection {
    background: #000;
    color: #fff;
}
.site-section {
    padding: 2.5em 0;
}
@media (min-width: 768px) {
    .site-section {
        padding: 5em 0;
    }
    .site-section-heading {
        font-size: 3rem;
    }
}
.site-section {
    padding: 2.5em 0;
}
user agent stylesheet
section {
    display: block;
}
.block-13, .slide-one-item {
    position: relative;
    z-index: 1;
}
.testimonial {
    max-width: 800px;
    margin: 0 auto !important;
    text-align: center;
}
/******* slider text section**********/
.testimonial blockquote {
    font-size: 1.5rem;
    font-style: italic;
}

/*
blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}*/
